
.vs/SpaceInvaders/v15/.suo
.vs/SpaceInvaders/v15/Server/sqlite3/db.lock
.vs/SpaceInvaders/v15/Server/sqlite3/storage.ide
.vs/SpaceInvaders/v15/Server/sqlite3/storage.ide-shm
.vs/SpaceInvaders/v15/Server/sqlite3/storage.ide-wal
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/SpaceInvaders.exe.config.deploy
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/SpaceInvaders.exe.deploy
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/SpaceInvaders.exe.manifest
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/System.Runtime.CompilerServices.Unsafe.dll.deploy
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/Unity.Abstractions.dll.deploy
SpaceInvaders/bin/Debug/app.publish/Application Files/SpaceInvaders_1_0_0_0/Unity.Container.dll.deploy
SpaceInvaders/bin/Debug/app.publish/setup.exe
SpaceInvaders/bin/Debug/app.publish/SpaceInvaders.application
SpaceInvaders/bin/Debug/app.publish/SpaceInvaders.exe
SpaceInvaders/bin/Debug/SpaceInvaders.application
SpaceInvaders/bin/Debug/SpaceInvaders.exe
SpaceInvaders/bin/Debug/SpaceInvaders.exe.config
SpaceInvaders/bin/Debug/SpaceInvaders.exe.manifest
SpaceInvaders/bin/Debug/SpaceInvaders.pdb
SpaceInvaders/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
SpaceInvaders/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
SpaceInvaders/bin/Debug/Unity.Abstractions.dll
SpaceInvaders/bin/Debug/Unity.Abstractions.pdb
SpaceInvaders/bin/Debug/Unity.Container.dll
SpaceInvaders/bin/Debug/Unity.Container.pdb
SpaceInvaders/obj/Debug/App.g.cs
SpaceInvaders/obj/Debug/App.g.i.cs
SpaceInvaders/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SpaceInvaders/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SpaceInvaders/obj/Debug/MainWindow.baml
SpaceInvaders/obj/Debug/MainWindow.g.cs
SpaceInvaders/obj/Debug/MainWindow.g.i.cs
SpaceInvaders/obj/Debug/SpaceInvaders.application
SpaceInvaders/obj/Debug/SpaceInvaders.csproj.CopyComplete
SpaceInvaders/obj/Debug/SpaceInvaders.csproj.CoreCompileInputs.cache
SpaceInvaders/obj/Debug/SpaceInvaders.csproj.FileListAbsolute.txt
SpaceInvaders/obj/Debug/SpaceInvaders.csproj.GenerateResource.cache
SpaceInvaders/obj/Debug/SpaceInvaders.csprojAssemblyReference.cache
SpaceInvaders/obj/Debug/SpaceInvaders.exe
SpaceInvaders/obj/Debug/SpaceInvaders.exe.manifest
SpaceInvaders/obj/Debug/SpaceInvaders.g.resources
SpaceInvaders/obj/Debug/SpaceInvaders.pdb
SpaceInvaders/obj/Debug/SpaceInvaders.Properties.Resources.resources
SpaceInvaders/obj/Debug/SpaceInvaders_MarkupCompile.cache
SpaceInvaders/obj/Debug/SpaceInvaders_MarkupCompile.i.cache
SpaceInvaders/obj/Debug/SpaceInvadersPg.csproj.CopyComplete
SpaceInvaders/obj/Debug/SpaceInvadersPg.csproj.CoreCompileInputs.cache
SpaceInvaders/obj/Debug/SpaceInvadersPg.csproj.FileListAbsolute.txt
SpaceInvaders/obj/Debug/SpaceInvadersPg.csproj.GenerateResource.cache
SpaceInvaders/obj/Debug/SpaceInvadersPg.csprojAssemblyReference.cache
SpaceInvaders/obj/Debug/SpaceInvadersPg_MarkupCompile.i.cache
SpaceInvaders/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SpaceInvaders/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SpaceInvaders/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SpaceInvaders/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SpaceInvadersPg.sln.DotSettings.user
SpaceInvaders/SpaceInvadersPg.csproj.DotSettings.user
